<h1>All Students</h1>

<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %> &nbsp&nbsp&nbsp; <a href="/students/<%= student.id%>">View profile</a></div>
  <% end %>
</div>
